@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --cinza-frio: rgb(60, 60, 65);
    --dourado-letras: rgb(240, 230, 210);
    --dourado-hover: #f6d100;
    --preto: rgb(0, 0, 0);
    --fonte-lol: 'Beaufort for LOL';
}

/* Default Configs */
html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: inherit;
    background-color: bl;
    user-select: none;
}

/* Headers */
h1 {
    font-family: var(--fonte-lol), 'Montserrat';
    font-size: 5rem;
    padding: 1.5rem;
    color: var(--dourado-letras);
    color: white;
    font-weight: 1000;
    text-shadow: 2px 2px 0 black;
}

a {
    text-decoration: none;
}

/* Tags */
aside {
    display: block;
}

aside .desenvolvido-por {
    text-align: center;
}

/* Header */
.header-titulo {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: var(--preto);
    z-index: 1;
}

aside .desenvolvido-por,
aside .social-medias {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--dourado-letras);
    height: 5rem;
    width: 20rem;
    font-size: 1.5rem;
}

aside .header-titulo .social-medias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
}

.logo-social-media {
    width: 25%;
    height: 10%;
    padding-right: 4px;
}

.linkedin-structure,
.github-structure {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-lol);
    cursor: pointer;
}

/* Sections Configuration*/
.section {
    height: 100vh;
}

.main-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/* Main Page Left Side */
.blue-essence-and-coins-structure {
    background: pink;
    background-image: url(../imgs/left-side-images/background-blue-essence.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-right: 10px solid black;
}

.counter-and-coins {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.coins-number {
    font-family: var(--fonte-lol), sans-serif;
    font-weight: 900;
    font-size: 10rem;
    color: white;
}

.coins-img {
    width: 10%;
    padding-left: 10px;
}



/* Click Power*/
.click-power {
    font-size: 1.3rem;
    font-family: var(--fonte-lol), sans-serif;
    padding-bottom: 20px;
    font-weight: 800;
    color: white;
}



/* Circle where the user clicks */
.blue-essence-circular-structure {
    background-color: rgb(185, 185, 30);
    box-shadow: 1px 1px 1px 1px rgb(91, 91, 204);
    border-radius: 50%;
    width: 22rem;
    height: 22rem;
    overflow: hidden;
    cursor: pointer;
    transition: transform 50ms ease-in-out;
}

.blue-essence-circular-structure:hover {
    transform: scale(0.99);
}

.blue-essence-circular-structure:active {
    transform: scale(0.95);
}

.blue-essence-icon {
    width: 100%;
    height: 100%;
}


.div-image-upgrade {
    width: 80%;
    height: 80%;
    background: black;
    border: 1px solid transparent;
    border-radius: 50%;
    box-shadow: 0.5px 0px 1px 3px rgb(44, 44, 44);
    overflow: hidden;
}

.image-upgrade {
    width: 100%;
    height: 100%;
}

/* Main Page Right Side */

.upgrades-structure {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 93px;
}

.upgrade-boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(43, 43, 43);
    max-width: 100%;
    height: 100%;
    border-right: 1px solid rgb(80, 80, 80);
}

.upgrade-box {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-columns: max-content(100px);
    justify-items: center;
    align-items: center;
    max-width: 100%;
    margin: 0px 8px 0px 8px;
    padding: 8px 0 8px 0;
    background-image: url(../imgs/left-side-images/background-blue-essence.png);
    color: var(--dourado-letras);
    border: 1px solid transparent;
    border-radius: 10px;
    position: relative;
}

.upgrade-box:hover {
    border: 1px solid grey;
    color: var(--dourado-hover);
    opacity: 1;
    cursor: pointer;
}

.upgrade-structure-name-cost {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
}

.upgrade-name {
    font-family: var(--fonte-lol), sans-serif;
    text-transform: capitalize;
    font-weight: 1000;
    font-size: 4rem;
}

/* Mecanismo para mudar a opacidade quando o upgrade estiver ok*/

.upgrade-boxes>.upgrade-box {
    opacity: 0.5;
    transition: opacity 1s ease;
}

.upgrade-box:nth-child(1) {
    opacity: 1;
}

.upgrade-info {
    position: absolute;
    background: yellow;
    width: 20%;
    height: 50%;
    left: -120px;
    color: black;
    display: none;
}

.upgrade-box:hover .upgrade-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-cost-and-cost {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.coins-image-cost {
    width: 9%;
    padding-right: 4px;
}

.upgrade-cost {
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    font-weight: 1000;
    color: white;
}

.upgrade-quantity-counter {
    font-size: 5rem;
    padding-right: 5px;
    font-family: 'Afacad Flux', sans-serif;
    font-weight: 500;
    color: white;
}