@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --cinza-frio: rgb(60, 60, 65);
    --dourado-letras: rgb(240, 230, 210);
    --dourado-hover: #f6d100;
    --preto: rgb(0, 0, 0);
}

/* Default Configs */
html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: inherit;
    background-color: bl;
}

/* Headers */
h1 {
    font-family: 'Beaufort for LOL', 'Montserrat';
    font-size: 5rem;
    padding: 1.5rem;
    color: var(--dourado-letras);
    color: white;
    font-weight: 1000;
    text-shadow: 2px 2px 0 black;
}


/* Tags */
aside {
    display: block;
}


/* Header */
.header-titulo {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: var(--preto);
    z-index: 1;
}

aside .configs1,
aside .configs2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    margin: 1rem;
    height: 5rem;
    width: 20rem;
    font-size: 1.5rem;
}


/* Sections Configuration*/
.section {
    height: 100vh;
}

.main-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/* Main Page Left Side */
.blue-essence-and-coins-structure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-right: solid black;
}

.counter-and-coins {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.coins-number{
    font-family: 'Beaufort for LOL', sans-serif;
    font-weight: 900;
    font-size: 10rem;
}

.coins-img {
    width: 10%;
    padding-left: 1rem;
}



/* Click Power*/
.click-power {
    font-size: 1.3rem;
    font-family: 'Beaufort for LOL', sans-serif;
    padding-bottom: 2rem;
    font-weight: 800;
}



/* Circle where the user clicks */
.blue-essence-circular-structure {
    background-color: rgb(185, 185, 30);
    box-shadow: 1px 1px 1px 1px rgb(91, 91, 204);
    border-radius: 50%;
    width:  22rem;
    height: 22rem;
    overflow: hidden;
    cursor: pointer;
    transition: transform 50ms ease-in-out;
}

.blue-essence-circular-structure:hover {
    transform: scale(0.99);
}

.blue-essence-circular-structure:active {
    transform: scale(0.95);
}

.blue-essence-icon {
    width: 100%;
    height: 100%;
}


.div-image-upgrade {
    width: 80%;
    height: 80%;
    background: black;
    border: 1px solid transparent;
    border-radius: 50%;
    box-shadow: 0.2px 0.2px 3px rgb(70, 64, 64);
    overflow: hidden;
}

.image-upgrade {
    width: 100%;
    height: 100%;
}

/* Main Page Right Side */

.upgrades-structure {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 60px;
}

.upgrade-boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(106, 106, 106);
    max-width: 70%;
    max-height: 80%;
    overflow: auto;
    border-radius: 10px;
}

.upgrade-box {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;
    background: var(--cinza-frio);
    color: var(--dourado-letras);
    margin: 1rem;
    max-height: 50%;
    max-width: 100%;
    border: 1px solid transparent;
    border-radius: 10px;
    opacity: 0.95;
    position: relative;
}

.upgrade-box::after {
    content: "Click Power: 1";
    position: absolute;
    left: -85px;
    opacity: 0;
    z-index: 2;
    color: var(--preto);
}

.upgrade-box:hover{
    border: 1px solid grey;
    color: var(--dourado-hover);
    opacity: 1;
    cursor: pointer;
}

.upgrade-box:hover::after {
    color: black;
    opacity: 1;
}

.upgrade-structure-name-cost {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
}

.upgrade-name {
    font-family: 'Beaufort for LOL', sans-serif;
    text-transform:capitalize;
    font-weight: 1000;
    font-size: 3rem;
}

.image-cost-and-cost {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.coins-image-cost {
    width: 10%;
}

.upgrade-cost {
    font-family: 'Montserrat', sans-serif;
    text-transform:capitalize;
    font-weight: 1000;
    color: white;
}

.upgrade-quantity-counter {
    font-size: 3rem;
    padding-right: 0.5rem;
    font-family: 'Afacad Flux', sans-serif;
    font-weight: 500;
    color: white;
}